Q1)
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [4]:
import pandas as pd
df=pd.read_csv("Cutlets.csv")
df_UnitA=df['Unit A']
df_UnitB=df["Unit B"]
from scipy import stats
zval, pval=stats.ttest_ind(df_UnitA, df_UnitB)
zval,pval
# Where NULL Hypothesis is : "There is no significant difference in the diameter of the cutlet between two units."
# Where ALTERNATIVE Hypothesis is : "There is significant difference in the diameter of the cutlet between two units."
if pval < 0.05:
    print("Reject NULL Hypothesis and Accept ALTERNATIVE Hypothesis")
else: 
    print("Accept NULL Hypothesis and Reject ALTERNATIVE Hypothesis")

Accept NULL Hypothesis and Reject ALTERNATIVE Hypothesis

In [5]:
if pval < 0.05:
    print("There is a significant difference in the diameter of the cutlet between two units.")
else:
    print("There is no significant difference in the diameter of the cutlet between two units.")

There is no significant difference in the diameter of the cutlet between two units.

Q2)
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.

Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [7]:
import pandas as pd
df=pd.read_csv('LabTAT.csv')
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

Q$) TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [2]:
import pandas as pd
df=pd.read_csv("Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [27]:
data_India=pd.DataFrame(df['India'].value_counts())
data_India

            India
Error Free    280
Defective      20

In [28]:
data_Indonesia=pd.DataFrame(df['Indonesia'].value_counts())
data_Indonesia

            Indonesia
Error Free        267
Defective          33

In [30]:
data_Phillippines=pd.DataFrame(df['Phillippines'].value_counts())
data_Phillippines

            Phillippines
Error Free           271
Defective             29

In [31]:
data_Malta=pd.DataFrame(df['Malta'].value_counts())
data_Malta

            Malta
Error Free    269
Defective      31

In [46]:
import numpy as np
data=np.array([[280,267,271,269],[20,33,29,31]])
error=data[0]
defective=data[1]

In [60]:
from scipy import stats
zcal, pval,f,jk=stats.chi2_contingency(data)
zcal, pval
if pval < 0.05:
    print('Reject Null Hypothesis and Accept Alternative Hypothesis')
    print("the defective % varies by error")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis")
    print("the defective % doesn't varies by error")

Accept Null Hypothesis and Reject Alternative Hypothesis
the defective % doesn't varies by error

Q3)      Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [4]:
import pandas as pd
df=pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [8]:
data=[[50,142,131,70],[435,1523,1356,750]]
from scipy import stats
zcal, pval,f,jk=stats.chi2_contingency(data)
zcal,pval
if pval < 0.05:
    print("Reject Null Hypothesis and Accept Alternative Hypothesis\n All proportions are not equal")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis \n All proportions are equal")

Accept Null Hypothesis and Reject Alternative Hypothesis
 All proportions are equal

ALternate method for BuyerRatio

In [16]:
import researchpy as rp
table,pval= rp.crosstab(df['East'],df['West'],test='chi-square')

In [17]:
pval

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [18]:
pval=0.1573
if pval < 0.05:
    print("Reject Null Hypothesis and Accept Alternative Hypothesis\n All proportions are not equal")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis \n All proportions are equal")

Accept Null Hypothesis and Reject Alternative Hypothesis
 All proportions are equal

In [19]:
table,pval=rp.crosstab(df['East'],df['North'], test='chi-square')
pval

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [20]:
pval=0.1573
if pval < 0.05:
    print("Reject Null Hypothesis and Accept Alternative Hypothesis\n All proportions are not equal")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis \n All proportions are equal")

Accept Null Hypothesis and Reject Alternative Hypothesis
 All proportions are equal

In [25]:
table,pval=rp.crosstab(df['East'],df['South'], test='chi-square')
pval

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [26]:
pval=0.1573
if pval < 0.05:
    print("Reject Null Hypothesis and Accept Alternative Hypothesis\n All proportions are not equal")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis \n All proportions are equal")

Accept Null Hypothesis and Reject Alternative Hypothesis
 All proportions are equal

In [22]:
table,pval=rp.crosstab(df['West'],df['North'], test='chi-square')
pval

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [27]:
pval=0.1573
if pval < 0.05:
    print("Reject Null Hypothesis and Accept Alternative Hypothesis\n All proportions are not equal")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis \n All proportions are equal")

Accept Null Hypothesis and Reject Alternative Hypothesis
 All proportions are equal

In [23]:
table,pval=rp.crosstab(df['East'],df['South'], test='chi-square')
pval

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [28]:
pval=0.1573
if pval < 0.05:
    print("Reject Null Hypothesis and Accept Alternative Hypothesis\n All proportions are not equal")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis \n All proportions are equal")

Accept Null Hypothesis and Reject Alternative Hypothesis
 All proportions are equal

In [24]:
table,pval=rp.crosstab(df['North'],df['South'], test='chi-square')
pval

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    2.0000
1                    p-value =    0.1573
2               Cramer's phi =    1.0000

In [30]:
pval=0.1573
if pval < 0.05:
    print("Reject Null Hypothesis and Accept Alternative Hypothesis\n All proportions are not equal")
else:
    print("Accept Null Hypothesis and Reject Alternative Hypothesis \n All proportions are equal")

Accept Null Hypothesis and Reject Alternative Hypothesis
 All proportions are equal

From the above cases we conclude that

-All proportions are equal 

-And Accept Null Hypothesis and Reject Alternative Hypothesis